*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body{
  background: #111;
  color: #fff;
}

nav{
  width: 100%;
  padding: 15px;
  background: #222;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #00ff88;
}

.container{
  width: 90%;
  max-width: 700px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.upload-box{
  margin-top: 20px;
}

.upload-btn{
  background: #00ff88;
  padding: 12px 25px;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

#upload{
  display: none;
}

.result-box img{
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  display: none;
}

.download-btn{
  display: none;
  margin-top: 20px;
  padding: 12px 25px;
  background: #ff004c;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
